@model etc.Models.rainfallData

<h5> Input Rainfall Date</h5>

@using (Ajax.BeginForm("InputRainfallData", "Home", new AjaxOptions { UpdateTargetId = "Response from Controller" }))
{
    <fieldset>

        <div class="form-group input-group-sm">
            @Html.LabelFor(model => model.theDate, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.theDate, new { htmlAttributes = new { type = "date", @class = "form-control ", placeholder = "Rainfall date", required = "required" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.theHour, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.theHour, new { htmlAttributes = new { type = "number", @min = "0", @max = "23", @class = "form-control ", placeholder = "Hour ", required = "required" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.theData, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.theData, new { htmlAttributes = new { type = "decimal", @class = "form-control " } })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <br />
        <h5>Rainfall Data of the Day </h5>
        <div>
            <table border="1">

                <tr>

                    <th>DateTime</th>

                    <th>Rainfall</th>



                </tr>

                @if (ViewData["oneDayData"] != null)
                {

                    foreach (System.Data.DataRow dr in (ViewData["oneDayData"] as System.Data.DataTable).Rows)
                    {

                        <tr>

                            <td>

                                @dr["ts"]

                            </td>

                            <td align="left">

                                @dr["rainfall"]

                            </td>

                        </tr>

                    }

                }

            </table>
        </div>

    </fieldset>
}
